name: Package macOS Apps

on:
  workflow_call:

jobs:
  package:
    runs-on: macos-latest

    steps:
      - name: Download JAR Artifacts
        uses: actions/download-artifact@v4
        with:
          name: jar-files

      - name: Package GeometricFractalsApp for macOS
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.15
        run: |
          jpackage \
            --input . \
            --name GeometricFractalsApp \
            --main-jar GeometricFractalsApp.jar \
            --main-class gui.GeometricFractalsApp \
            --type dmg \
            --app-version 1.0.0

      - name: Package LSystemFractalsApp for macOS
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.15
        run: |
          jpackage \
            --input . \
            --name LSystemFractalsApp \
            --main-jar LSystemFractalsApp.jar \
            --main-class gui.LSystemFractalsApp \
            --type dmg \
            --app-version 1.0.0

      - name: Upload macOS DMG Files
        uses: actions/upload-artifact@v4
        with:
          name: macos-dmg-files
          path: '*.dmg'

